.main-pane
{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-auto-flow: column;
  height: 100vh;
  overflow: hidden;
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  .main-pane
  {
    grid-template-columns: 70px;
    justify-items: center;
  }
}

@media (max-width: 460px) {
  .main-pane
  {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px;
    grid-auto-flow: rows;
  }
}